*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container{
    background: rgba(176, 172, 172, 0.441);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;

}

.calculator{
    -webkit-box-shadow: 16px 21px 5px 0px rgba(0,0,0,0.06);
    -moz-box-shadow: 16px 21px 5px 0px rgba(0,0,0,0.06);
    box-shadow: 16px 21px 5px 0px rgba(0,0,0,0.06); 
    
}

input{
    border:black;
    /* padding: 24px; */
    width: 270px;
    height: 70px;
    padding: 15px;
    font-size: 40px;
    text-align: left;
    cursor: pointer;
    background: transparent;
    color:rgb(0, 0, 0);
    background-color: white;
}

input::placeholder{
    color:black;
}
button{
    border: none;
    min-width: 90px;
    min-height: 60px;
    margin:0;
    font-size: 20px;
    cursor: pointer;
    background: rgb(6, 6, 6);
    color: white;
    
}

#symbol{
    background: grey;
    color: white;
}

#first{
    background:rgb(26, 157, 151);
}
.kit{
    /* min-width: 500px; */
    /* border: black 2px solid; */
    display: flex;
}